* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sectioncard {
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

img {
    height: 200px;
    width: 300px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.Texte {
    border-radius: 25px;
}

